<div class="info-content">
  <section class="round-info rounds">
    <div class="icon">
      <mat-icon>casino_outlined</mat-icon>
    </div>
    <div class="number">
      <span class="amount">{{round?.number}}</span>
      <span class="unit">rounds</span>
    </div>
  </section>
  <section class="round-info last-succ">
    <div class="icon">
      <mat-icon>check_circle</mat-icon>
    </div>
    <div class="number">
      <span class="amount">{{round?.lastSuccs}}</span>
      <span class="unit">successes</span>
    </div>
  </section>
  <section class="round-info last-fails">
    <div class="icon">
      <mat-icon>cancel</mat-icon>
    </div>
    <div class="number">
      <span class="amount">{{round?.lastFails}}</span>
      <span class="unit">fails</span>
    </div>
  </section>
  <section class="round-info total-info">
    <div class="total">
      <div class="succs">
        <span>{{round?.totalSuccs}}<mat-icon>check</mat-icon></span>
      </div>
      <div class="fails">
        <span>{{round?.totalFails}}<mat-icon>close</mat-icon></span>
      </div>
    </div>
      <div class="unit">total</div>
  </section>

</div>
