<div class="content">
    <mat-card class="npc" *ngFor="let character of characters; let i = index"
              [ngClass]="{'dead': character.condition === Condition.Dead, 'injured': character.condition === Condition.Injured,
               'critical': character.condition === Condition.Critical, 'paused': character.stop}">
      <div class="info">
        <img alt="portrait" class="token" src="{{character.url}}" height="50" width="50px">
        <span>{{character.name}}</span>
        <div class="heals"><mat-icon class="heal" (click)="heal(character.id)">favorite</mat-icon><span *ngIf="character.heals > 0" class="num-of-heals">{{character.heals}}</span></div>
        <!--<span>{{character.roll}}</span>-->
      </div>
      <div class="diff">
        <img alt="mouse difficulty" src="assets/mouse.svg" class="item" [ngClass]="{'active': character.difficulty === Difficulty.Rat}"
       (click)="changeDifficulty(character.id, Difficulty.Rat)">
        <img alt="cobra difficulty" src="assets/cobra.svg"  class="item" [ngClass]="{'active': character.difficulty === Difficulty.Cobra}"
        (click)="changeDifficulty(character.id, Difficulty.Cobra)">
        <img  alt="lion difficulty" src="assets/leo.svg"  class="item" [ngClass]="{'active': character.difficulty === Difficulty.Lion}"
        (click)="changeDifficulty(character.id, Difficulty.Lion)">
        <img  alt="dragon difficulty" src="assets/b-dragon.svg"  class="item" [ngClass]="{'active': character.difficulty === Difficulty.Dragon}"
        (click)="changeDifficulty(character.id, Difficulty.Dragon)">
      </div>

      <div class="dices">
        <span class="dice" *ngFor="let dice of character.dices">
          <mat-icon class="❌"  *ngIf="dice==='❌'">close</mat-icon>
          <mat-icon class="✅" *ngIf="dice==='✅'">check</mat-icon>
          <mat-icon class="➖" *ngIf="dice==='➖'">unfold_less</mat-icon>
          <mat-icon class="💥" *ngIf="dice==='💥'">bolt</mat-icon>
          <mat-icon class="💀" *ngIf="dice==='💀'">radio_button_checked</mat-icon>
        </span>
      </div>
      <div class="stop-switch">
        <mat-icon class="stop" *ngIf="!character.stop" (click)="stopSwitch(character.id)">stop</mat-icon>
        <mat-icon class="play" *ngIf="character.stop" (click)="stopSwitch(character.id)">play_arrow</mat-icon>
      </div>
    </mat-card>
</div>
